.newsletter{
    background-color: #f9f9f9;
}
.newsletter-section{
    margin-top: 100px;
   
    padding: 50px;
    
}

.newsletter-h2{
    text-transform: capitalize;
    margin-bottom: 20px;
}
.subscribe-input {
    width: 300px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
}
.subscribe-form{
   border: 0 !important;
    
}
.subscribe-button{
    height: 60px;
}
