.about-us-section{
    margin-top: 150px;
    
    
   
}
.counter{
    font-size: 1.5rem;
    font-weight: 600;
    color: #0a2b1e ;
}
.counter-title{
    font-size: 0.25rem;
    color: #0a2b1e;
    font-weight: 500;
}
.about-content{
    padding-left: 50px;
    
    
}
.about-content p{
    font-size: 10px;
    
    
}
.about-us-image{
    height: 0.75rem;
    width: 600px;
}