.section{
    margin-top: 25px;
}
.body-content{
    
}
.body-content h2{
    font-weight: 600;
    line-height: 55px;
    text-align: center;
    


}
.text-1, .text-2{
    font-size: 16px;
}
.text-3{
    font-size: 12px;
    text-align: center;

}
.signin-button{
    color: #e2451c !important ;
    font-size: 0.75em;
    border: 1px solid #e2451c !important;
   
}
.signin-button:hover{
    
    color:#fff !important;
    background-color: #e2451c !important;
   
}
.search{
    margin: 0 auto;
}
.search input{
    width: 50%;
    height: 30px;
    font-size: 12px;
    
    
    
}
.search .search-button{
    font-size: 10px;
    
}
.welcome-image{
    text-align: center;
}
